input[type="text"]:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }

 #bookit .btn.btn-primary.btn-lg::before {
    content: attr(data-content); 
  }
  
  #bookit .btn.btn-primary.btn-lg:hover::before {
    content: "Book"; 
  }

  #bookit .btn.btn-primary.btn-lg::after {
    content: none;
  }