/* Home.css */

body {
    background-image: url('../images/loginBackground.jpg'); /* Specify the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensures the background covers the entire viewport */
    margin: 0;
    padding: 0;
    background-attachment: fixed;
  }
  
  .container-xxl {
    background-color: rgba(255, 255, 255, 0.0); /* Set a semi-transparent white background for your content */
    padding: 25px; /* Adjust the padding as needed */
    border-radius: 10px; /* Optional: Add rounded corners to your content container */ /* Set width to 100% to expand horizontally */
    text-align: center;
  }
  

  .row-cols-md-4 > .col {
    margin-bottom: 20px; /* Add spacing between packages */
  }
  .row-cols-md-4 > .col:last-child {
    margin-right: 0; /* Remove horizontal spacing for the last package in the row */
  }