body {
    background-image: url('../images/backgroundImg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
  }
  
  .container-xxl {
    background-color: rgba(255, 255, 255, 0.0);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
  }
  

  .row-cols-md-4 > .col {
    margin-bottom: 20px;
  }
  .row-cols-md-4 > .col:last-child {
    margin-right: 0;
  }