/* Signup.css */



  .form-outline input:focus {
    border-color: rgba(0, 0, 77, 0.9); /* Darker blue when focused */
  }
  
  .btn {
    background-color: rgba(0, 0, 77, 0.9);
    color: white;
  }
  
  .btn-bg-blue:hover {
    background-color: rgba(0, 0, 77, 0.9);
  }
  