.search-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; 
    margin-bottom: 20px;
  }

  .row{
    height : fit-content;
  }

  .col-3{
    height : fit-content;
  }