
.bg-blue{
    background-color:rgb(0, 0, 77);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.9);
}

.active {
    border-bottom: 3px solid white; 
  }

  .navbar-dark .navbar-nav .nav-link {
    position: relative;
    transition: color 0.3s ease; /* Optional: add color transition for smoother effect */
}

.navbar-dark .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white; /* Color of the bottom bar */
    transition: width 0.3s ease; /* Transition the width property */
}

.navbar-dark .navbar-nav .nav-link:hover::before {
    width: 100%; /* Expand the bottom bar to 100% on hover */
}





