.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to fill the entire viewport */
  }

  .card-img-top {
    height: 200px; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the content box */
  }